// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#about-image {
  margin: 25px
}

.about-title {
  margin: 15px;
  text-align: center
}

.indent {
  text-indent: 30px;
}